doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        title Mi titulo
        meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        link(rel="stylesheet", href="../css/estilos.css")
    body 
        nav#main-nav.main-nav
            ul.menu
                li.menu__item: a.menu__link(href="") Inicio
                li.menu__item: a.menu__link(href="") Servicios
                li.menu__item: a.menu__link(href="") Productos
                li.menu__item: a.menu__link(href="") Clientess
            .menu-bar
                .uno
                .dos
                .tres
        script(src="../scripts/mostrar.js")